$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
$textGradientColor       : linear-gradient(to right, #9820b6 0%, #4254dc 15%, #49dbff 100%);
$RobotoTh                : 'RobotoTh', sans-serif;
$Roboto                  : 'Roboto', sans-serif;
$RobotoBold              : 'RobotoBold', sans-serif;